body {
    color: #F15FD0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    font-family: Candara;
    padding: 36px;
    margin-top: -20px;
}

.sidebar {
    width: 40%;
    height: 1000vh;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 10px;
    border-right: 1px solid #F15FD0;
    float: left;
    line-height: 18px;
}

.main-section {
    width: 60%;
    height: 100%;
    display: block;
    justify-content: left;
    padding: 5px;
    float: right;
}

.projects-container, .about-container {
    border: 1px solid #F15FD0;
    border-radius: 2px;
    padding: 6px;
}

ol li {
    list-style: none;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}